@using Hotel.Models
@page "/guests"
@inject HttpClient Http

<PageTitle>List of Guests</PageTitle>

<h3>Guests</h3>



@if (gl == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var guest in gl)
            {
                <tr>
                    <td>@guest.ID</td>
                    <td>@guest.Name</td>
                    <td>@guest.Balance</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Guest[]? gl;

    protected override async Task OnInitializedAsync()
    {
        gl = await Http.GetFromJsonAsync<Guest[]>("sample-data/guests.json");
    }


}
