@using Hotel.Models
@page "/rooms"
@inject HttpClient Http

<PageTitle>List of Rooms</PageTitle>

<h3>Rooms</h3>



@if (rl == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Number</th>
                <th>Area</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in rl)
            {
                <tr>
                    <td>@room.ID</td>
                    <td>@room.Number</td>
                    <td>@room.Area</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Room[]? rl;

    protected override async Task OnInitializedAsync()
    {
        rl = await Http.GetFromJsonAsync<Room[]>("sample-data/rooms.json");
    }


}
